<% @events.each do |event| %>
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3"><%= event.user.first_name %> : <%= event.title %></h1>
		<p><%= event.description %></p>
		<p><%= link_to "En savoir plus", event_path(event), class:"btn btn-primary btn-lg", role:"button" %></p>
	</div>
</div>
<% end %>