<footer class="bg-primary">
	<div class="p-2"></div>
  <div class="p-2 d-flex justify-content-around" style="background-color: rgba(0, 0, 0, 0.1);">
  	<div>
    	© All rights reserved : 
    	<a class="text-white" href="#">Lille-Events.com</a>
    </div>
    <div>
    	Join us on social medias : 
    	<a href="#" class="text-white m-1"><i class="fab fa-twitter"></i></a>
    	<a href="#" class="text-white m-1"><i class="fab fa-facebook"></i></a>
    	<a href="#" class="text-white m-1"><i class="fab fa-instagram"></i></a>
    	<a href="#" class="text-white m-1"><i class="fab fa-youtube"></i></a>
		</div>
  </div>
</footer>